@import 'partials/reset';
@import 'partials/variables';
@import 'partials/mixins';
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
	text-align: center;
	font-family: $text-font;
	color: $body-text-color;
	background-color: $body-background;
}

ul {
	list-style-type: none;
}

.container {
	margin-bottom: 50px;

	p {
		color: $small-heading-color;
	    margin-top: 14px;
	    font-size: 21px;
	    font-family: serif;
	    font-style: italic;
	}
}

.gulp-image {
	background-image: url($gulp-image);
	height: 250px;
	margin: 60px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.btn {
    border-radius: 3px;
    color: $btn-text-color;
    cursor: pointer;
    display: inline-block;
    font-family: $text-font;
    margin: 12px;
    padding: 20px 12px;
    text-transform: uppercase;
    transition: .3s ease;
    user-select: none;
    width: 150px;
    box-shadow: 1px 2px 3px $box-shadow-color;

    &:hover {
    	box-shadow: 1px 1px 1px $box-shadow-color;
    	transform: translate(0, -10px) scale(1.1);
    }
}

// Include buttons
.btn1 { @include btn($btn1-color);}
.btn2 { @include btn($btn2-color);}
.btn3 { @include btn($btn3-color);}
.btn4 { @include btn($btn4-color);}
.btn5 { @include btn($btn5-color);}
