body {
	text-align: center;
	font-family: sans-serif;
}

.gulp-image {
	background-image: url('../images/red-gulp.svg');
	height: 300px;
	margin: 70px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
