// === THEMES ===
// Allowed values: Light, Dark
$theme: Dark;

// === IMAGES ===
$gulp-red: '../images/red-gulp.svg';
$gulp-white: '../images/white-gulp.svg';

// === COLORS SECTION ===
$body-background: #fff;
$body-text-color: #333;
$small-heading-color: #828282;
$box-shadow-color: #9e9e9e;
$gulp-image: $gulp-red;

@if $theme == Dark {
	$body-background: #212121;
	$body-text-color: #efefef;
	$box-shadow-color: #101010;
	$gulp-image: $gulp-white;
}
// Button colors
$btn-text-color: #fff;
$btn1-color: #2196f3;
$btn2-color: #f44336;
$btn3-color: #ff9800;
$btn4-color: #009688;
$btn5-color: #9c27b0;

// === FONTS SECTION ===
$text-font: "Open Sans", Arial, sans-serif;
