// === COLORS SECTION ===
$body-text-color: #333;
$small-heading-color: #828282;
$box-shadow-color: #9e9e9e;
// Button colors
$btn-text-color: #fff;
$btn1-color: #2196f3;
$btn2-color: #f44336;
$btn3-color: #ff9800;
$btn4-color: #009688;
$btn5-color: #9c27b0;

// === FONTS SECTION ===
$text-font: "Open Sans", Arial, sans-serif;
